## measure of dispersion

In [1]:
## variance

age_list = [56,33,78,21,22,89,38,76]

In [2]:
import numpy as np

In [3]:
mean = np.mean(age_list)

In [4]:
mean

51.625

In [5]:
var = np.var(age_list)

In [6]:
var

631.734375

In [7]:
std = np.std(age_list)

std

25.134326627144798

In [8]:
import pandas as pd

In [9]:
data = [[28,54,91],[11,23,78],[99,65,23]]
data

[[28, 54, 91], [11, 23, 78], [99, 65, 23]]

In [11]:
df = pd.DataFrame(data)
df

    0   1   2
0  28  54  91
1  11  23  78
2  99  65  23

In [12]:
df.var()

0    2179.000000
1     474.333333
2    1303.000000
dtype: float64

In [13]:
## rowwise
df.var(axis=1)

0    1002.333333
1    1276.333333
2    1449.333333
dtype: float64

In [14]:
## columnwise
df.var(axis=0)

0    2179.000000
1     474.333333
2    1303.000000
dtype: float64